body {
    height: fit-content;
    /* Ruta relativa o completa a la imagen */
    background-image: url(../img/fondos/azul.png);
    /* Centramos el fondo horizontal y verticalmente */
    background-position: center center;
    /* El fonde no se repite */
    background-repeat: no-repeat;
    /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
    background-attachment: fixed;
    /* El fonde se re-escala automáticamente */
    background-size: cover;
}

#titulo{
    max-width: 200px;
    height: 100px;
    padding: 10px;
    
}

header{
    background-color:rgb(254, 0, 0);
    box-shadow: inset 2px 2px 15px 3px;
}
.carrusel1{
    
z-index: -1;
}

#portada{
        height: fit-content;
    }
.carousel-item{

    height: 1020px;
    
    }
.mario{

    width: 900px;
}
.section1{
    margin-top: -300px;
}
.navbar-nav{
    margin: auto;
}
#mordido{
    
    height: 600px;
    margin-top: -190px;
    z-index: -5;
    background-color:rgb(254, 0, 0);
}
#corte{
    z-index: 10;
    margin-top: -740px;
}

.imagenBoton{
    background-image: url(../img/mezcla/bloque-_.png);

    width: 40px;
    height: 40px;
}

.botonSpace{
    margin-right: 20px;
}

.botonesMenu{
    border: 2px solid;
    color: white;
    background: linear-gradient(to right, transparent  50%,rgb(254, 0, 0) 50%) no-repeat left/200%;
    transition: background-position 0.2s ease;
}
.botonesMenu:hover{
    background-position: right;
    border: 2px solid;
    color: white;
    transition: .2s ease-out;
    

}

.tubosJuegos{
    padding-top: 100px;
}

.carruselJuegos{
    z-index: +20;
    
}

.carrusel2{
    max-height: 300px;
}

#tuboL{
    padding: 0px 0px;
    margin-top: -1220px;
}

#tuboD{
    padding: 0px 0px;
    margin-top: 60px;
}

#tuboL{
    padding: 0px 0px;
    margin-top: 60px;
}

#tuboD{
    padding: 0px 0px;
    margin-top: 60px;
}


.espaciado{
    margin-top: -1px;
}
.mariobBack{
    margin-top: -1000px;
}
.luigiBack{
    margin-top: -300px;
    z-index: 10;
    position: relative;
}

.corteUp{
    margin-top: -20px;
    background-color:rgb(254, 0, 0);
}

.fondoCartas{
    background-color:rgb(254, 0, 0);
}

.cortePiesLuigi{
    margin-top: -300px;
    z-index: 0;
}
@media only screen and (max-width: 820px){
 
    .carousel-item{
  
        height: 500px;
        
    }

    .section1{
        margin-top: -50px;
    }

    .botonesMenu{
        background: transparent;
    }

    .tubosJuegos{
        padding-top: 190px;
    }
    #titulo{
       padding: 10px;
        height: 120px;
    }  

    .espaciado{
        margin-top: -2px;
    }

    .luigiBack{
        margin-top: -150px;
        z-index: 10;
        position: relative;
    }
    .cortePiesLuigi{
        margin-top: -130px;
       
    }
        
    
}

@media only screen and (max-width: 480px){
    #portada{
        max-width: 100px;
    }
 
 
   .collapse{
    font-size: small;
   }
   .carousel-item{
  
    height: 250px;
    }
    
    #mordido{
        height: 300px;
        margin-top: -90px;
    }
    .section1{
    margin-top: -20px;
    }

    .tubosJuegos{
        padding-top: 90px;
    }
    #tuboL{
        padding: 0px 0px;
        margin-top: 40px;
    }
    
    #tuboD{
        padding: 0px 0px;
        margin-top: 40px;
    }

    .portadaJuegos{

       width: 100px;
    }

    #titulo{
        width: 110px;
        padding: 10px;
        height: 70px;
    }

    .luigiBack{
        margin-top: -60px;
        z-index: 10;
        position: relative;
    }
    .cortePiesLuigi{
        margin-top: -70px;
       
    }

    .espaciado{
        margin-top: -1px;
    }

}
